@model IEnumerable<EstrusturasDatos_Lab02.Clases.NodoFarmacos>

@{
    ViewData["Title"] = "Reabastecimiento";
}

<h1>Reabastecimiento</h1>

<p>
    <a asp-action="RalizarReabastecer">Reabastecer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach ( EstrusturasDatos_Lab02.Clases.NodoFarmacos item in ViewBag.Farmacos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inventario)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
